:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card {
  margin-top: 24px;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#id-input {
  width: 60%;
  min-width: 60%;
  padding-right: 5%;
}

#show-input{
  width: 20%;
  min-width: 20%;

  padding-right: 5%;

}

.backgroud-container {
  margin: 1vw 0;
  height: 24vw;
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('./../assets/bg640.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.number-container {
  font-size: 10vw;
  margin: 5vw 0;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.position {
  color: white;
  font-size: 3vw;
}

.print {
  max-width: 70vw;
}

.print .backgroud-container {
  height: 60vw;
  width: 60vw;
}

.print .number-container {
  font-size: 24vw;
  margin: 12vw 0;
}
.print .position {
  font-size: 8vw;
}

/* @media (max-width: 800px) {
  mat-card {
    margin-top: 3vh;
    max-width: 90vw;
    overflow: auto;
  }

  .backgroud-container {
    margin: 3vw 0;
    height: 90vw;
    width: 90vw;
  }

  .number-container {
    font-size: 38vw;
    padding: 16vw;
  }

  .position {
    font-size: 10vw;
  }
} */
